*{
    margin: 0;
    padding: 0;
    max-height: 50vh;
}
body {
  background-color: black;
  color: white;
}

/* Header */
.header {
  border-bottom: 1px solid #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #e09f3e;
}

/* Main */

.main{
    max-height: 75vh;
}
.reservation-section {
  max-width: 600px;
  margin: 50px auto;
  background: black;
  color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reservation-section h2 {
  text-align: center;
  margin-bottom: 10px;
}
.reservation-section p {
  text-align: center;
  margin-bottom: 25px;
  color: #555;
}
form input,
form select,
form button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
form button {
    width: 105%;
  background-color: crimson;
  color: #fff;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #333;
}


/* Footer */
.footer {
  background: #000;
  padding: 60px 0 20px;
  border-top: 1px solid #333;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-box p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-box ul li a:hover {
  color: #e09f3e;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid #333;
  font-size: 13px;
  color: #777;
}
