* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #fff;
}

/* Header */
.header {
  background: #000;
  border-bottom: 1px solid #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #e09f3e;
}

/* Main */

.container2 {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/image/Logo.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-img {
  width: 100%;
  max-width: 500px;
  height: 50%;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 48px;
  letter-spacing: 2px;
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  color: #ddd;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #e09f3e;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #f1b45c;
}

/* ABOUT */
.about {
  padding: 80px 20px;
  text-align: center;
}

.about h2 {
  margin-bottom: 20px;
}

/* MENU */



.menu {
  background: #111;
  padding: 80px 20px;
}

.menu h2 {
  text-align: center;
  margin-bottom: 40px;
}

.menu-grid {
  display: flex;
  gap: 25px;
}

.menu-card {
  background: #000;
  padding: 25px;
  border: 1px solid #333;
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card h3 {
  margin-bottom: 10px;
}

.menu-card p {
  font-size: 14px;
  color: #bbb;
}

.menu-card span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #e09f3e;
}

/* CTA */
.cta {
  padding: 80px 20px;
  text-align: center;
  background: #000;
}

.cta p{
    padding: 10px;
}

/* Footer */
.footer {
  background: #000;
  padding: 60px 0 20px;
  border-top: 1px solid #333;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-box p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-box ul li a:hover {
  color: #e09f3e;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 13px;
  color: #777;
}
